{{- $hero        := .Site.Params.hero }}
{{- $clientLogos := index $hero "clientlogos" }}


<div class="hero-foot mb-20">
  <div class="container">
    <div class="grid grid-tiny is-centered">
      {{- range $clientLogos }}
        <div class="cell">
          <a {{ if .url }}href="{{ .url }}"{{ end }} target="_blank">
            <img class="partner-logo" src="{{ printf "images/logos/certificates/%s" .logo | relURL }}" />
          </a>
        </div>
      {{- end }}
    </div>
  </div>
</div>
