{{- $section2 := .Site.Params.section2 }}
{{- $title := index $section2 "title" }}
{{- $subtitle := index $section2 "subtitle" }}
{{- $features := index $section2 "features" }}


<section class="section is-medium" id="section2">
  <div class="container">
    <div class="is-centered-tablet-portrait">
      <h1 class="title section-title">{{ $title }}</h1>
      <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
      <div class="divider"></div>
    </div>
    <div class="grid">
      {{- range $features }}
        <div class="cell">
          <div class="card">
            <div class="card-image">
              <figure class="image">
                <img src="{{ printf "images/%s" .image | relURL }}" alt="Placeholder image" />
              </figure>
            </div>
            <div class="card-content">
              <div class="content">
                <h3>{{ .title }}</h3>
                <p>{{ .text }}</p>
              </div>
            </div>
          </div>
        </div>
      {{- end }}
    </div>
  </div>
</section>
