{{- $insuranceSection   := .Site.Params.insuranceSection }}
{{- $title      := index $insuranceSection "title" }}
{{- $subtitle   := index $insuranceSection "subtitle" }}
{{- $buttonText := index $insuranceSection "buttontext" }}
{{- $buttonLink := index $insuranceSection "buttonlink" }}


<section class="section section-feature-grey is-medium" id="insurance-section">
  <div class="container">
    <h2 class="title is-2">{{ $title }}</h2>
    <h3 class="subtitle is-5 is-muted">{{ $subtitle }}</h3>
    <a href="https://www.carecredit.com/" target="_blank">
      <img src="images/logos/carecredit.webp" alt="CareCredit" style="max-width: 20rem;" />
    </a>
    <div class="divider"></div>
    <p class="mt-20">
      <a class="button cta is-large rounded secondary-btn raised" href="{{ $buttonLink }}">
        {{ $buttonText }}
      </a>
    </p>
  </div>
</section>
