{{- $locations   := .Site.Params.locations }}
{{- $title      := index $locations "title" }}
{{- $subtitle   := index $locations "subtitle" }}
{{- $offices := index $locations "locations" }}


<div class="section is-medium">
  <div class="container">
    <h2 class="title">{{ $title }}</h2>
    <h3 class="subtitle">{{ $subtitle }}</h3>
    <div class="divider"></div>

    <div class="grid mt-4 locations-container">
      {{ range $offices }}
        <div class="cell card">
          <div class="card-image">
            <figure class="image">
              <iframe
                src="{{ .map }}"
                style="border: 0; width: 100%; height: 30rem;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
              ></iframe>
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h3>{{ .name }}</h3>
              <p class="address"><a href="{{ .link }}" target="_blank">{{ .address }}</a></p>
              <div class="is-flex">
                <div class="flex-item mr-2">
                  <p><strong>Phone</strong></p>
                  <p><strong>Email</strong></p>
                  <br />
                  {{ range .timings }}
                    <p><strong>{{ .day }}</strong></p>
                  {{ end }}
                </div>
                <div class="flex-item">
                  <p><a href="tel:{{ .phone }}">{{ .phone }}</a></p>
                  <p><a href="mailto:{{ .email }}">{{ .email }}</a></p>
                  <br />
                  {{ range .timings }}
                    <p>{{ .time }}</p>
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
          <footer class="card-footer">
            <a href="{{ .contact }}" class="card-footer-item">Contact Us</a>
            <a href="{{ .book }}" class="card-footer-item cta">Book Online</a>
          </footer>
        </div>
      {{ end }}
    </div>
  </div>
</div>
