/* ==========================================================================
Main SCSS file / Fresh
========================================================================== */

// Variables
$brand-primary: #f39200;

:root {
  --font-size: 1rem;
  --line-height: 1.5;
}

.subtitle {
  line-height: var(--line-height);
}

//Imports
@import 'partials/colors';
@import 'partials/navbar';
@import 'partials/dropdowns';
@import 'partials/sections';
@import 'partials/hero';
@import 'partials/footer';
@import 'partials/buttons';
@import 'partials/cards';
@import 'partials/forms';
@import 'partials/animations';
@import 'partials/sidebar';
@import 'partials/testimonials';
@import 'partials/responsive';
@import 'partials/utils';
@import 'partials/grid';

@import 'custom/doctors';